@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dfa7d9), color-stop(42%, #c360db), to(#40119c));
  background-image: linear-gradient(180deg, #dfa7d9 0%, #c360db 42%, #40119c 100%);
  background-attachment: fixed;
}

img {
  max-width: 100%;
  height: auto;
  background-image: url("/images/stat2.png");
  border-color: transparent;
  background-size: cover;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.texxt {
  font-family: "Roboto", sans-serif;
  color: white;
  display: block;
  position: absolute;
  top: 330px;
  left: 1000px;
  font-size: 1.5rem;
}

.texxt::before {
  content: "";
}

h1 {
  font-size: 6rem;
}

.header nav {
  padding: 0px;
}

.header__links {
  padding: 50px  50px 0 0;
}

.header__links a {
  position: relative;
  font-size: 1.75rem;
  font-family: "Poppins", sans-serif;
  color: white;
  -webkit-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out;
  font-weight: bold;
}

.header__links a:not(last-child) {
  margin-right: 72px;
}

.header__links a:hover::before {
  opacity: 1;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 6px;
  left: 0;
  right: 0;
  bottom: -30px;
  border-radius: 20px;
  background: white;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-ai-r {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mas {
  background-color: white;
  height: 107px;
  width: 35px;
  position: absolute;
  top: 80px;
  left: 850px;
}

.mas::before {
  content: "";
  width: 107px;
  height: 35px;
  display: block;
  background-color: white;
  position: absolute;
  top: 35%;
  left: -36px;
}

.equisu {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  height: 107px;
  width: 35px;
  position: absolute;
  top: 800px;
  left: 2000px;
}

.equis {
  background-color: white;
  height: 107px;
  width: 35px;
  position: absolute;
}

.equis::before {
  content: "";
  width: 107px;
  height: 35px;
  display: block;
  background-color: white;
  position: absolute;
  top: 35%;
  left: -36px;
}

.up-corner {
  background-color: white;
  height: 165px;
  width: 5px;
  position: absolute;
  top: -130px;
  left: 587px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.up-corner::before {
  content: "";
  height: 5px;
  width: 147px;
  display: block;
  background-color: white;
}

.down-corner {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  background-color: white;
  height: 147px;
  width: 5px;
  position: absolute;
  top: 350px;
  left: 7px;
}

.down-corner::before {
  content: "";
  height: 5px;
  width: 147px;
  display: block;
  background-color: white;
}

.line1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f16eba), to(#feceba));
  background-image: linear-gradient(180deg, #f16eba 0%, #feceba 100%);
  height: 484px;
  width: 10px;
  position: absolute;
  top: 166px;
  left: 610px;
  border-radius: 50px;
}

.line1::before {
  content: "";
  height: 340px;
  width: 10px;
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#97b9ce), to(#caabcb));
  background-image: linear-gradient(180deg, #97b9ce 0%, #caabcb 100%);
  position: absolute;
  top: 525px;
  left: 0px;
  border-radius: 50px;
}

.line1::after {
  content: "";
  height: 250px;
  width: 10px;
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#74d9bc), to(#f64ef2));
  background-image: linear-gradient(180deg, #74d9bc 0%, #f64ef2 100%);
  position: absolute;
  top: 325px;
  left: -60px;
  border-radius: 50px;
}

.line2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cc63fd), to(#61ecf9));
  background-image: linear-gradient(180deg, #cc63fd 0%, #61ecf9 100%);
  height: 484px;
  width: 10px;
  position: absolute;
  top: 20px;
  left: 60px;
  border-radius: 50px;
}

.line2::before {
  content: "";
  height: 260px;
  width: 10px;
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cdc8fb), to(#fd8ec2));
  background-image: linear-gradient(180deg, #cdc8fb 0%, #fd8ec2 100%);
  position: absolute;
  top: 790px;
  left: 0px;
  border-radius: 50px;
}

.line2::after {
  content: "";
  height: 250px;
  width: 10px;
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f16eba), to(#feceba));
  background-image: linear-gradient(180deg, #f16eba 0%, #feceba 100%);
  position: absolute;
  top: 330px;
  left: -40px;
  border-radius: 50px;
}

.circle1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cc63fd), to(#61ecf9));
  background-image: linear-gradient(180deg, #cc63fd 0%, #61ecf9 100%);
  height: 60px;
  width: 60px;
  position: absolute;
  top: 700px;
  left: 420px;
  border-radius: 50px;
}

.circle1::before {
  content: "";
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f16eba), to(#feceba));
  background-image: linear-gradient(180deg, #f16eba 0%, #feceba 100%);
  height: 60px;
  width: 60px;
  position: absolute;
  top: -670px;
  left: -330px;
  border-radius: 50px;
}

@-webkit-keyframes emerge-up {
  from {
    visibility: hidden;
    opacity: 0;
    top: -100px;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes emerge-up {
  from {
    visibility: hidden;
    opacity: 0;
    top: -100px;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes emerge-down {
  from {
    visibility: hidden;
    opacity: 0;
    top: 900px;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes emerge-down {
  from {
    visibility: hidden;
    opacity: 0;
    top: 900px;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes popp {
  from {
    visibility: hidden;
    opacity: 0;
    height: 10px;
    width: 10px;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes popp {
  from {
    visibility: hidden;
    opacity: 0;
    height: 10px;
    width: 10px;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes floating {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}

@keyframes floating {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}

@-webkit-keyframes floating1 {
  from {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  to {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
}

@keyframes floating1 {
  from {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  to {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  to {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  to {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}

.texxt, .line2 {
  -webkit-animation: emerge-up 1500ms  ease-in-out forwards;
          animation: emerge-up 1500ms  ease-in-out forwards;
}

.circle1 {
  -webkit-animation: emerge-down 1500ms  ease-in-out forwards;
          animation: emerge-down 1500ms  ease-in-out forwards;
}

.line1 {
  -webkit-animation: emerge-down 1500ms  ease-in-out forwards;
          animation: emerge-down 1500ms  ease-in-out forwards;
}

.equis {
  -webkit-animation: floating 2s ease-in-out 0s infinite alternate;
          animation: floating 2s ease-in-out 0s infinite alternate;
}

.imgg {
  -webkit-animation: floating1 2s ease-in-out 0s infinite alternate;
          animation: floating1 2s ease-in-out 0s infinite alternate;
}

.mas {
  -webkit-animation: bounce 2s ease-in-out 0s infinite alternate;
          animation: bounce 2s ease-in-out 0s infinite alternate;
}

.pie {
  background-color: #333;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
/*# sourceMappingURL=style.css.map */