.texxt{
    font-family: $roboto;
    color: white;
    display: block;
    position: absolute;
    //top: 30%;
    top: 330px;
    left: 1000px;
    font-size: 1.5rem;

   // animation: emerge 200ms ease-in-out;


    &::before{
        content: "";
    }
    
} 


h1{
    font-size: $h1siz;
}